.card{
  background-color: #EBEF40;
  padding: 16px;
  display: inline-block;
  width: 25%;
  position: relative;
}

[data-color="first"]{
 background-color: #45AAEE;
}
[data-color="second"]{
 background-color: #FF1010;
}
[data-color="third"]{
 background-color: #76EF40;
}
[data-color="fourth"]{
 background-color: #EBEF40;
}

.card-colors .isActive{
 border-radius: 2px;
}
.wrap-card-colors{
  position: absolute;
  top: -18px;
  left: 0;
}
.card_colors{
  display: inline-block;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  text-indent: -99999px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid rgba(0,0,0,0.5);
}
